@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --fg-color: #2a1f1e;
  --fg-color-tp: #2a1f1e5a;
  --main-color: #744826;
  --accent-color: ##ebc501;
  --golden-brown: #a0631bff;
  --lion: #caa47aff;
  --fawn: #f4bc7cff;
  --champagne-pink: #f4e0d1ff;
  --seashell: #fef2efff;
  --tiffany-blue: #a5e5ceff;
  --champagne-pink-2: #fee9d9ff;
  --olivine: #9dc08fff;
  --copper: #af7d42ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Inter";
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  color: var(--fg-color);
  background-color: var(--seashell);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
}

h1,
h2,
h3 {
  margin: 0;
}

#slide-menu {
  z-index: 7;
  position: fixed;
  background-color: var(--bg-color);
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  transform: translateX(100%);
}
#slide-menu nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
#slide-menu nav ul {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
#slide-menu nav ul li a {
  position: relative;
  color: var(--fg-color);
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 500;
}
#slide-menu nav ul li a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: var(--fg-color);
  transition: 0.3s;
  transform-origin: bottom left;
  transform: scaleX(0);
}
#slide-menu nav ul li a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
#slide-menu nav ul #shop-bag {
  position: relative;
  width: 2.5em;
  height: 2.5em;
}
#slide-menu nav ul #shop-bag svg {
  width: 2.5em;
  height: 2.5em;
}
#slide-menu nav ul #shop-bag svg path {
  stroke: var(--fg-color);
}
#slide-menu nav ul #shop-bag #product-count {
  position: absolute;
  top: 0;
  right: -0.3em;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slide-menu nav ul #shop-bag #product-count #bag-products {
  pointer-events: none;
  font-size: 0.8em;
  color: var(--fg-color);
  width: inherit;
  height: inherit;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slide-menu button {
  padding: 0.5em;
  position: absolute;
  top: 1em;
  right: 1em;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
#slide-menu button :hover {
  background-color: var(--champagne-pink-2);
}
#slide-menu button :active {
  background-color: var(--champagne-pink);
}
#slide-menu button svg {
  width: 2.5em;
  height: 2.5em;
}

#header {
  z-index: 5;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 1em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fg-color);
  background-color: var(--seashell);
  border-bottom: 2px solid var(--fg-color-tp);
}
#header #drop-menu {
  margin-top: 4em;
  min-width: 15%;
  height: 16em;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--seashell);
  border: 2px solid var(--main-color);
  opacity: 1;
  transition: 0.3s ease-in-out;
  transform: translateY(-100%);
  visibility: hidden;
  box-shadow: 0 3px 8px 2px var(--fg-color-tp);
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  scrollbar-width: none;
}
#header #drop-menu .drop-item {
  border: inherit;
  min-height: 50%;
}
#header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#header nav #logo-title {
  display: flex;
  gap: 0.5em;
}
#header nav #logo-title #page-name {
  font-size: 2em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header nav #nav-links {
  min-width: 26%;
}
#header nav ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header nav ul #menu {
  cursor: pointer;
  pointer-events: auto;
  display: none;
  width: 2.5em;
  height: 2.5em;
}
#header nav ul #menu svg {
  width: inherit;
  height: inherit;
}
#header nav ul li a {
  position: relative;
  color: var(--fg-color);
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 500;
}
#header nav ul li a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: var(--fg-color);
  transition: 0.3s;
  transform-origin: bottom left;
  transform: scaleX(0);
}
#header nav ul li a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
#header nav ul #shop-bag {
  cursor: pointer;
  position: relative;
  width: 2.5em;
  height: 2.5em;
}
#header nav ul #shop-bag svg {
  width: 2.5em;
  height: 2.5em;
}
#header nav ul #shop-bag svg path {
  stroke: var(--fg-color);
}
#header nav ul #shop-bag #product-count {
  position: absolute;
  top: 0;
  right: -0.5em;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header nav ul #shop-bag #product-count #bag-products {
  pointer-events: none;
  font-size: 0.8em;
  color: var(--seashell);
  width: inherit;
  font-weight: bold;
  height: inherit;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--copper);
  border-radius: 50%;
}

section {
  position: relative;
  padding: 0 1em;
  height: 100vh;
}

#main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/uuunion.svg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
#main-section .main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#main-section .main-container #logo {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
#main-section .main-container #logo svg {
  position: absolute;
  width: 18em;
  height: 18em;
  fill: var(--main-color);
  filter: drop-shadow(12px 12px 8px rgba(116, 72, 38, 0.4509803922));
}
#main-section .main-container .description {
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
}
#main-section .main-container .description h2 {
  font-size: 2.8em;
}
#main-section .main-container .description p {
  margin: 0;
  font-size: 1.3em;
  font-weight: 500;
}

#caracteristicas {
  margin-top: 4em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#caracteristicas .gallery {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "natural natural natural organico" "cf cf sp sp";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}
#caracteristicas .gallery div {
  font-size: 2.3em;
  font-style: italic;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--fg-color-tp);
  border-radius: 0.3em;
}
#caracteristicas .gallery div p {
  margin: 0;
}
#caracteristicas .gallery .data-1 {
  grid-area: natural;
  background-color: var(--olivine);
}
#caracteristicas .gallery .data-2 {
  grid-area: organico;
  background-color: var(--tiffany-blue);
}
#caracteristicas .gallery .data-3 {
  grid-area: cf;
  background-color: var(--tiffany-blue);
}
#caracteristicas .gallery .data-4 {
  grid-area: sp;
  background-color: var(--champagne-pink);
}

#second-section {
  height: 100vh;
}
#second-section .product {
  height: 90%;
  border: 2px solid var(--fg-color-tp);
  border-radius: 0.5em;
  margin-top: 4em;
  display: grid;
  grid-template-columns: auto 1fr;
}
#second-section .product p {
  margin: 0;
}
#second-section .product .category {
  text-decoration: underline;
}
#second-section .product .product-image {
  overflow: hidden;
}
#second-section .product .product-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
#second-section .product .product-info {
  padding: 2em;
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: linear-gradient(45deg, var(--champagne-pink), var(--champagne-pink-2));
}
#second-section .product .product-info span {
  font-size: 1.1em;
}
#second-section .product .product-info .product-title {
  font-size: 1.5em;
}
#second-section .product .product-info .product-description {
  font-size: 1.3em;
  font-style: italic;
  font-weight: 500;
}
#second-section .product .product-info .price-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#second-section .product .product-info .price-count .product-price {
  font-size: 1.8em;
}
#second-section .product .product-info .price-count .product-count {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  border: 2px solid var(--main-color);
  background-color: var(--seashell);
  padding: 0.5em 1em;
  border-radius: 1em;
}
#second-section .product .product-info .price-count .product-count .count {
  display: flex;
  justify-content: center;
  align-items: center;
}
#second-section .product .product-info .price-count .product-count button {
  cursor: pointer;
  background-color: transparent;
  font-size: 1.5em;
  font-weight: 500;
  border: none;
}
#second-section .product .product-info .price-count .product-count p {
  pointer-events: none;
}
#second-section .product .product-info .product-pay {
  display: flex;
}

footer {
  background-color: var(--main-color);
  height: 50vh;
}

@media screen and (max-width: 768px) {
  #header nav #logo-title #page-name {
    font-size: 1.8em;
  }
  #header #nav-links ul {
    width: fit-content;
    justify-content: center;
    gap: 1em;
  }
  #header #nav-links ul #menu {
    display: block;
  }
  #header #nav-links ul li {
    display: none;
  }
  #header #drop-menu {
    width: 50%;
  }
  #main-section .main-container {
    grid-template-columns: 1fr;
  }
  #main-section .main-container #logo {
    display: none;
  }
  #main-section .main-container #golden-products-logo {
    display: none;
  }
  #main-section .main-container .description h2 {
    font-size: 2.2em;
  }
  #main-section .main-container .description p {
    margin: 0;
    font-size: 1.2em;
  }
  #second-section {
    height: auto;
  }
  #second-section .product {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
