@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --bg-color: #edf0e7;
  --fg-color: #2a1f1e;
  --fg-color-tp: #2a1f1e5a;
  --main-color: #744826;
  --accent-color: ##ebc501;

  --golden-brown: #a0631bff;
  --lion: #caa47aff;
  --fawn: #f4bc7cff;
  --champagne-pink: #f4e0d1ff;
  --seashell: #fef2efff;
  --tiffany-blue: #a5e5ceff;
  --champagne-pink-2: #fee9d9ff;
  --olivine: #9dc08fff;
  --copper: #af7d42ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Inter";
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  color: var(--fg-color);
  background-color: var(--seashell);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
}

h1,
h2,
h3 {
  margin: 0;
}

#slide-menu {
  z-index: 7;
  position: fixed;
  background-color: var(--bg-color);
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  transform: translateX(100%);

  // & * {
  //   border: 1px solid black;
  // }

  & nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;

    & ul {
      width: 100%;
      height: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-flow: column wrap;
      gap: 2em;
      justify-content: center;
      align-items: center;

      & li {
        & a {
          position: relative;
          color: var(--fg-color);
          text-decoration: none;
          font-size: 2.5em;
          font-weight: 500;

          &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -1px;
            width: 100%;
            height: 2px;
            background-color: var(--fg-color);
            transition: 0.3s;
            transform-origin: bottom left;
            transform: scaleX(0);
          }

          &:hover::after {
            transform-origin: bottom left;
            transform: scaleX(1);
          }
        }
      }

      & #shop-bag {
        position: relative;
        width: 2.5em;
        height: 2.5em;

        & svg {
          width: 2.5em;
          height: 2.5em;
          & path {
            stroke: var(--fg-color);
          }
        }

        & #product-count {
          position: absolute;
          top: 0;
          right: -0.3em;
          width: 1em;
          height: 1em;
          display: flex;
          justify-content: center;
          align-items: center;

          & #bag-products {
            pointer-events: none;
            font-size: 0.8em;
            color: var(--fg-color);
            width: inherit;
            height: inherit;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  & button {
    padding: 0.5em;
    position: absolute;
    top: 1em;
    right: 1em;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    border-radius: 50%;

    &:hover {
      background-color: var(--champagne-pink-2);
    }
    &:active {
      background-color: var(--champagne-pink);
    }

    & svg {
      width: 2.5em;
      height: 2.5em;
    }
  }
}

#header {
  z-index: 5;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 1em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fg-color);
  background-color: var(--seashell);
  border-bottom: 2px solid var(--fg-color-tp);

  & #drop-menu {
    margin-top:4em;
    min-width: 15%;
    height: 16em;
    position: absolute;
    right: 0;
    top:0;
    background-color: var(--seashell);
    border: 2px solid var(--main-color);
    opacity: 1;
    transition: 0.3s ease-in-out;
    transform: translateY(-100%);
    visibility: hidden;

    display: flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items: center;

    overflow: scroll;
  }

  & nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & #logo-title {
      display: flex;
      gap: 0.5em;

      & #logo {
        width: 4em;
        height: 4em;

        & svg {
          width: 4em;
          height: 4em;

          & path {
            fill: var(--main-color);
          }
        }
      }

      & #page-name {
        font-size: 2em;
        font-weight: 700;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    & #nav-links {
      min-width: 26%;
    }

    & ul {
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & #menu {
        cursor: pointer;
        pointer-events: auto;
        display: none;
        width: 2.5em;
        height: 2.5em;

        & svg {
          width: inherit;
          height: inherit;
        }
      }

      & li {
        & a {
          position: relative;
          color: var(--fg-color);
          text-decoration: none;
          font-size: 1.3em;
          font-weight: 500;

          &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -1px;
            width: 100%;
            height: 2px;
            background-color: var(--fg-color);
            transition: 0.3s;
            transform-origin: bottom left;
            transform: scaleX(0);
          }

          &:hover::after {
            transform-origin: bottom left;
            transform: scaleX(1);
          }
        }
      }

      & #shop-bag {
        cursor: pointer;
        position: relative;
        width: 2.5em;
        height: 2.5em;

        & svg {
          width: 2.5em;
          height: 2.5em;
          & path {
            stroke: var(--fg-color);
          }
        }

        & #product-count {
          position: absolute;
          top: 0;
          right: -0.5em;
          width: 1em;
          height: 1em;
          display: flex;
          justify-content: center;
          align-items: center;

          & #bag-products {
            pointer-events: none;
            font-size: 0.8em;
            color: var(--seashell);
            width: inherit;
            font-weight: bold;
            height: inherit;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--copper);
            border-radius: 50%;
          }
        }
      }
    }
  }
}

section {
  position: relative;
  padding: 0 1em;
  height: 100vh;
}

#main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/uuunion.svg);
  // background: linear-gradient(45deg, var(--fawn), var(--seashell));
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  & .main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;

    & #logo {
      display: flex;
      justify-content: center;
      position: relative;
      align-items: center;

      & svg {
        position: absolute;
        width: 18em;
        height: 18em;
        fill: var(--main-color);
        filter: drop-shadow(12px 12px 8px #74482673);
      }
    }

    & .description {
      display: flex;
      flex-flow: column wrap;
      gap: 1em;

      & h2 {
        font-size: 2.8em;
      }

      & p {
        margin: 0;
        font-size: 1.3em;
        font-weight: 500;
      }
    }
  }
}

#second-section {
  height: 100vh;
  & .product {
    height: 90%;
    border: 2px solid black;
    border-radius: 0.5em;
    margin-top: 4em;
    display: grid;
    grid-template-columns: auto 1fr;

    & p {
      margin: 0;
    }

    & .category {
      text-decoration: underline;
    }

    & .product-image {
      overflow: hidden;
      & img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
      }
    }

    & .product-info {
      padding: 2em;
      display: flex;
      flex-flow: column wrap;
      gap: 1em;
      background: linear-gradient(
        45deg,
        var(--champagne-pink),
        var(--champagne-pink-2)
      );

      & span {
        font-size: 1.1em;
      }

      & .product-title {
        font-size: 1.5em;
      }
      & .product-description {
        font-size: 1.3em;
        font-style: italic;
        font-weight: 500;
      }

      & .price-count {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .product-price {
          font-size: 1.8em;
        }
        & .product-count {
          display: flex;
          flex-flow: row wrap;
          gap: 1em;
          border: 2px solid var(--main-color);
          background-color: var(--seashell);
          padding: 0.5em 1em;
          border-radius: 1em;

          & .count {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          & button {
            cursor: pointer;
            background-color: transparent;
            font-size: 1.5em;
            font-weight: 500;
            border: none;
          }

          & p {
            pointer-events: none;
          }
        }
      }
      & .product-pay {
      }
    }
  }
}

footer {
  height: 50vh;
}

@media screen and (max-width: 768px) {
  #header {
    & #nav-links {
      & ul {
        width: fit-content;
        justify-content: center;
        gap: 1em;
        & #menu {
          display: block;
        }
      }
      & ul li {
        display: none;
      }
    }
  }

  #main-section {
    & .main-container {
      grid-template-columns: 1fr;

      & #golden-products-logo {
        display: none;
      }

      & .description {
        & h2 {
          font-size: 2.2em;
        }

        & p {
          margin: 0;
          font-size: 1.2em;
        }
      }
    }
  }
  #second-section {
    height: auto;
    & .product {
      grid-template-columns: 1fr;
    }
  }
}
