@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --bg-color: #edf0e7;
  --fg-color: #2a1f1e;
  --fg-color-tp: #2a1f1e5a;
  --main-color: #744826;
  --accent-color: ##ebc501;
  --golden-brown: #a0631bff;
  --lion: #caa47aff;
  --fawn: #f4bc7cff;
  --champagne-pink: #f4e0d1ff;
  --seashell: #fef2efff;
  --tiffany-blue: #a5e5ceff;
  --champagne-pink-2: #fee9d9ff;
  --olivine: #9dc08fff;
  --copper: #af7d42ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Inter";
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  color: var(--fg-color);
  background-color: var(--seashell);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
}

h1,
h2,
h3 {
  margin: 0;
}

#slide-menu {
  z-index: 7;
  position: fixed;
  background-color: var(--bg-color);
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  transform: translateX(100%);
}
#slide-menu nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
#slide-menu nav ul {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
#slide-menu nav ul li a {
  position: relative;
  color: var(--fg-color);
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 500;
}
#slide-menu nav ul li a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: var(--fg-color);
  transition: 0.3s;
  transform-origin: bottom left;
  transform: scaleX(0);
}
#slide-menu nav ul li a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
#slide-menu nav ul #shop-bag {
  position: relative;
  width: 2.5em;
  height: 2.5em;
}
#slide-menu nav ul #shop-bag svg {
  width: 2.5em;
  height: 2.5em;
}
#slide-menu nav ul #shop-bag svg path {
  stroke: var(--fg-color);
}
#slide-menu nav ul #shop-bag #product-count {
  position: absolute;
  top: 0;
  right: -0.3em;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slide-menu nav ul #shop-bag #product-count #bag-products {
  pointer-events: none;
  font-size: 0.8em;
  color: var(--fg-color);
  width: inherit;
  height: inherit;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slide-menu button {
  padding: 0.5em;
  position: absolute;
  top: 1em;
  right: 1em;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
#slide-menu button:hover {
  background-color: var(--champagne-pink-2);
}
#slide-menu button:active {
  background-color: var(--champagne-pink);
}
#slide-menu button svg {
  width: 2.5em;
  height: 2.5em;
}

#header {
  z-index: 5;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 1em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fg-color);
  background-color: var(--seashell);
  border-bottom: 2px solid var(--fg-color-tp);
}
#header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#header nav #logo-title {
  display: flex;
  gap: 0.5em;
}
#header nav #logo-title #logo {
  width: 4em;
  height: 4em;
}
#header nav #logo-title #logo svg {
  width: 4em;
  height: 4em;
}
#header nav #logo-title #logo svg path {
  fill: var(--main-color);
}
#header nav #logo-title #page-name {
  font-size: 2em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header nav #nav-links {
  min-width: 20%;
}
#header nav ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header nav ul #menu {
  cursor: pointer;
  pointer-events: auto;
  display: none;
  width: 2.5em;
  height: 2.5em;
}
#header nav ul #menu svg {
  width: inherit;
  height: inherit;
}
#header nav ul li a {
  position: relative;
  color: var(--fg-color);
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 500;
}
#header nav ul li a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: var(--fg-color);
  transition: 0.3s;
  transform-origin: bottom left;
  transform: scaleX(0);
}
#header nav ul li a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
#header nav ul #shop-bag {
  cursor: pointer;
  position: relative;
  width: 2.5em;
  height: 2.5em;
}
#header nav ul #shop-bag svg {
  width: 2.5em;
  height: 2.5em;
}
#header nav ul #shop-bag svg path {
  stroke: var(--fg-color);
}
#header nav ul #shop-bag #product-count {
  position: absolute;
  top: 0;
  right: -0.5em;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header nav ul #shop-bag #product-count #bag-products {
  pointer-events: none;
  font-size: 0.8em;
  color: var(--seashell);
  width: inherit;
  font-weight: bold;
  height: inherit;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--copper);
  border-radius: 50%;
}

section {
  position: relative;
  padding: 0 1em;
  height: 100vh;
  border-bottom: 2px solid var(--fg-color-tp);
}

#main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/uuunion.svg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
#main-section .main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#main-section .main-container .description {
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
}
#main-section .main-container .description h2 {
  font-size: 2.8em;
}
#main-section .main-container .description p {
  margin: 0;
  font-size: 1.3em;
  font-weight: 500;
}

footer {
  height: 50vh;
}

@media screen and (max-width: 768px) {
  #header #nav-links ul {
    width: fit-content;
    justify-content: center;
    gap: 1em;
  }
  #header #nav-links ul #menu {
    display: block;
  }
  #header #nav-links ul li {
    display: none;
  }
  #main-section .main-container {
    grid-template-columns: 1fr;
  }
  #main-section .main-container .description h2 {
    font-size: 2.2em;
  }
  #main-section .main-container .description p {
    margin: 0;
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=style.css.map */
