@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  // --bg-color: #edf0e7;
  --fg-color: #2a1f1e;
  --fg-color-tp: #2a1f1e5a;
  --main-color: #744826;
  --accent-color: ##ebc501;

  --golden-brown: #a0631bff;
  --lion: #caa47aff;
  --fawn: #f4bc7cff;
  --champagne-pink: #f4e0d1ff;
  --seashell: #fef2efff;
  --tiffany-blue: #a5e5ceff;
  --champagne-pink-2: #fee9d9ff;
  --olivine: #9dc08fff;
  --copper: #af7d42ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Inter";
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  width: 100%;
  font-size: 1.1em;
  color: var(--fg-color);
  background-color: var(--seashell);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
}

h1,
h2,
h3 {
  margin: 0;
}

button {
  cursor: pointer;
}

#contact {
  height: 80vh;
  font-size: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 1em;
    align-items: center;

    label {
      display: inherit;
      align-items: inherit;
      justify-content: inherit;
      width: 100%;

      input {
        border: 2px solid var(--fg-color-tp);
        border-radius: 0.3em;
        padding: 0.3em;
        font-size: 0.7em;
        width: 90%;
      }
    }
    button {
      font-size: 0.7em;
      border: none;
      color: var(--seashell);
      font-weight: bold;
      padding: 0.4em;
      background-color: var(--main-color);
      border-radius: 0.3em;
      width: fit-content;
      height: fit-content;
    }
  }
}

#pop-menu {
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #00000082;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  transition: 0.3s;

  .popup-menu {
    position: relative;
    border-radius: 0.3em;
    width: fit-content;
    height: 86%;
    background-color: var(--seashell);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;

    #close-pop-menu {
      background-color: transparent;
      border: 0;
      position: absolute;
      top: 1em;
      right: 1em;
    }

    .pop-image-cont {
      height: 100%;
      width: 100%;

      .pop-image {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }
}

#promotion {
  text-align: center;
  display: flex;
  flex-flow: column;
  gap: 2em;
  align-items: center;
  justify-content: center;

  height: auto;

  * {
    background-color: var(--champagne-pink);
  }

  .pay-opts {
    border-radius: 0.3em;
    width: 100%;
    height: auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50vh;
    gap: 1em;

    h2 {
      font-size: 2em;
    }
  }

  .promotion {
    display: flex;
    flex-flow: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    border-radius: 0.3em;
    background-color: var(--champagne-pink);

    svg {
      width: 7em;
    }

    .pay {
      display: flex;
      gap: 1em;
    }
  }

  #about {
    font-size: 1.4em;
    border: none;
    color: var(--seashell);
    font-weight: bold;
    padding: 0.5em;
    background-color: var(--main-color);
    border-radius: 0.3em;
  }
}

#slide-menu {
  z-index: 7;
  position: fixed;
  background-color: var(--seashell);
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  transform: translateX(100%);

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;

    ul {
      width: 100%;
      height: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-flow: column wrap;
      gap: 2em;
      justify-content: center;
      align-items: center;

      li {
        a {
          position: relative;
          color: var(--fg-color);
          text-decoration: none;
          font-size: 2.5em;
          font-weight: 500;

          &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -1px;
            width: 100%;
            height: 2px;
            background-color: var(--fg-color);
            transition: 0.3s;
            transform-origin: bottom left;
            transform: scaleX(0);
          }

          &:hover::after {
            transform-origin: bottom left;
            transform: scaleX(1);
          }
        }
      }

      #shop-bag {
        position: relative;
        width: 2.5em;
        height: 2.5em;

        svg {
          width: 2.5em;
          height: 2.5em;
          path {
            stroke: var(--fg-color);
          }
        }

        #product-count {
          position: absolute;
          top: 0;
          right: -0.3em;
          width: 1em;
          height: 1em;
          display: flex;
          justify-content: center;
          align-items: center;

          #bag-products {
            pointer-events: none;
            font-size: 0.8em;
            color: var(--fg-color);
            width: inherit;
            height: inherit;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  button {
    padding: 0.5em;
    position: absolute;
    top: 1em;
    right: 1em;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    border-radius: 50%;

    :hover {
      background-color: var(--champagne-pink-2);
    }
    :active {
      background-color: var(--champagne-pink);
    }

    svg {
      width: 2.5em;
      height: 2.5em;
    }
  }
}

#header {
  z-index: 5;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 1em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fg-color);
  background-color: var(--seashell);
  border-bottom: 2px solid var(--fg-color-tp);

  #drop-menu {
    margin-top: 4em;
    min-width: 15%;
    height: 16em;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--seashell);
    border: 2px solid var(--main-color);
    opacity: 1;
    transition: 0.3s ease-in-out;
    transform: translateY(-100%);
    visibility: hidden;
    box-shadow: 0 3px 8px 2px var(--fg-color-tp);

    display: flex;
    flex-flow: column;
    // justify-content: center;
    // align-items: center;

    overflow-y: scroll;
    scrollbar-width: none;

    .drop-item {
      border: inherit;
      min-height: 50%;
    }
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

    #logo-title {
      display: flex;
      gap: 0.5em;

      #page-name {
        font-size: 2em;
        font-weight: 700;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    #nav-links {
      min-width: 23%;
    }

    ul {
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      #menu {
        cursor: pointer;
        pointer-events: auto;
        display: none;
        width: 2.5em;
        height: 2.5em;

        svg {
          width: inherit;
          height: inherit;
        }
      }

      li {
        a {
          position: relative;
          color: var(--fg-color);
          text-decoration: none;
          font-size: 1.3em;
          font-weight: 500;

          &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -1px;
            width: 100%;
            height: 2px;
            background-color: var(--fg-color);
            transition: 0.3s;
            transform-origin: bottom left;
            transform: scaleX(0);
          }

          &:hover::after {
            transform-origin: bottom left;
            transform: scaleX(1);
          }
        }
      }

      #shop-bag {
        cursor: pointer;
        position: relative;
        width: 2.5em;
        height: 2.5em;

        svg {
          width: 2.5em;
          height: 2.5em;
          path {
            stroke: var(--fg-color);
          }
        }

        #product-count {
          position: absolute;
          top: 0;
          right: -0.5em;
          width: 1em;
          height: 1em;
          display: flex;
          justify-content: center;
          align-items: center;

          #bag-products {
            pointer-events: none;
            font-size: 0.8em;
            color: var(--seashell);
            width: inherit;
            font-weight: bold;
            height: inherit;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--copper);
            border-radius: 50%;
          }
        }
      }
    }
  }
}

section {
  margin: 4em 0;
  position: relative;
  padding: 0 1em;
  height: 100vh;
}

#main-section {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/uuunion.svg);
  // background: linear-gradient(45deg, var(--fawn), var(--seashell));
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  .main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;

    #logo {
      display: flex;
      justify-content: center;
      position: relative;
      align-items: center;

      svg {
        position: absolute;
        width: 18em;
        height: 18em;
        fill: var(--main-color);
        filter: drop-shadow(12px 12px 8px #74482673);
      }
    }

    .description {
      display: flex;
      flex-flow: column wrap;
      gap: 1em;

      h2 {
        font-size: 2.8em;
      }

      p {
        margin: 0;
        font-size: 1.3em;
        font-weight: 500;
      }
    }
  }
}

#caracteristicas {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;

  .gallery {
    padding: 1em;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "natural natural natural organico"
      "cf cf sp sp";

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);

    gap: 1em;

    div {
      font-size: 2.3em;
      font-style: italic;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid var(--fg-color-tp);
      border-radius: 0.3em;
      transition: 0.3s;

      &:hover {
        transform: scale(1.01);
      }

      p {
        margin: 0;
      }
    }

    .data-1 {
      grid-area: natural;
      background-color: var(--olivine);
    }
    .data-2 {
      grid-area: organico;
      background-color: var(--tiffany-blue);
    }
    .data-3 {
      grid-area: cf;
      background-color: var(--tiffany-blue);
    }
    .data-4 {
      grid-area: sp;
      background-color: var(--champagne-pink);
    }
  }
}

#second-section {
  height: 80vh;

  .product {
    height: 90%;
    border: 2px solid var(--fg-color-tp);
    border-radius: 0.5em;
    margin-top: 4em;
    display: grid;
    grid-template-columns: auto 1fr;

    p {
      margin: 0;
    }

    .category {
      text-decoration: underline;
    }

    .product-image {
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
      }
    }

    .product-info {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;
      padding: 2em;
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;

      background: linear-gradient(45deg, var(--seashell), var(--fawn));

      span {
        font-size: 1.3em;
      }

      .product-title {
        font-size: 1.6em;
      }

      .product-description {
        font-size: 1.5em;
        font-style: italic;
        font-weight: 500;
      }

      .buy {
        font-size: 1.5em;
        border: none;
        border-radius: 0.3em;
        color: var(--seashell);
        background-color: var(--main-color);
        padding: 0.3em 0.5em;
        width: fit-content;
        height: fit-content;
      }

      .price-count {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

footer {
  background-color: var(--main-color);
  height: 50vh;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1em;
  }
  #header {
    nav {
      #logo-title {
        #page-name {
          font-size: 1.8em;
        }
      }
    }

    #nav-links {
      ul {
        width: fit-content;
        justify-content: center;
        gap: 1em;
        #menu {
          display: block;
        }
      }
      ul li {
        display: none;
      }
    }

    #drop-menu {
      width: 50%;
    }
  }

  #main-section {
    .main-container {
      grid-template-columns: 1fr;

      #logo {
        display: none;
      }

      #golden-products-logo {
        display: none;
      }

      .description {
        h2 {
          font-size: 2.2em;
        }

        p {
          margin: 0;
          font-size: 1.2em;
        }
      }
    }
  }

  #promotion {
    font-size: 0.9em;
    display: flex;
    flex-flow: column;
    gap: 2em;
    align-items: center;
    justify-content: center;

    height: 80vh;

    * {
      background-color: var(--champagne-pink);
    }

    .pay-opts {
      width: 100%;
      padding: 1em;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      height: 70vh;
      gap: 1em;

      h2 {
        font-size: 2em;
      }
    }

    .promotion {
      display: flex;
      flex-flow: column;
      gap: 1em;
      align-items: center;
      justify-content: center;
      border-radius: 0.3em;
      background-color: var(--champagne-pink);

      svg {
        width: 5em;
      }

      .pay {
        display: flex;
        gap: 1em;
      }
    }

    #about {
      font-size: 1.4em;
      border: none;
      color: var(--seashell);
      font-weight: bold;
      padding: 0.5em;
      background-color: var(--main-color);
      border-radius: 0.3em;
    }
  }

  #caracteristicas {
    text-align: center;
    font-size: 1.3em;

    .gallery {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-areas:
        "natural natural natural natural"
        "organico organico organico organico"
        "cf cf cf cf"
        "sp sp sp sp";
      grid-template-rows: repeat(4, 1fr);

      gap: 1em;

      div {
        font-size: 2em;
        font-style: italic;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--fg-color-tp);
        border-radius: 0.3em;

        p {
          margin: 0;
        }
      }

      .data-1 {
        grid-area: natural;
        background-color: var(--olivine);
      }
      .data-2 {
        grid-area: organico;
        background-color: var(--tiffany-blue);
      }
      .data-3 {
        grid-area: cf;
        background-color: var(--tiffany-blue);
      }
      .data-4 {
        grid-area: sp;
        background-color: var(--champagne-pink);
      }
    }
  }

  #second-section {
    height: auto;
    .product {
      grid-template-columns: 1fr;
    }
  }

  #contact {
    font-size: 1.3em;
  }
}
